<%= simple_form_for @report, html: {class: 'form-horizontal', multipart: true} do |form| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "panel panel-default" id = "panel2">
    <div class = "panel-heading">
    <%= form.collection_select :category_id, Category.all, :id, :description, {promt: "Choose a category"} %>
  </div>
    <div class = "panel-body">
    <%= form.input :title, label: "Title of Report", input_html: {class: 'form-control'} %>
    <br>
    <%= form.input :details, label: "Details of Report", input_html: {class: 'form-control'} %>
    <br>
    <%= form.input :phone_no, label: "Phone Number of Scammer", input_html: {class: 'form-control'} %>
    <br>
    <%= form.input :message, label: "Message you Received", input_html: {class: 'form-control'} %>
    <br>
    <p>
      <% if @report.image.exists? %>
        <%= image_tag @report.image.url(:thumb) %>
      <% end %>
      <%= form.label :image, "Screenshot of Message" %>
      <%= form.file_field :image %>
    </p>
  </div>
    <div class = "panel-footer">
    <%= form.button :submit, class: "btn btn-primary" %>
  </div>
  </div>
<% end %>
