<p id="notice"><%= notice %></p>
  <h1>Reports</h1>
  <div class = "row" id = "panel">
        <% @reports.each do |report| %>
        <div class = "panel panel-default">
          <div class = "panel-heading">
            <h3><%= report.title %></h3>
          </div>
          <div class = "panel-body">
            <p>
            <%= report.details %>
            <%= report.phone_no %>
            <%= report.message %>
          </p>
          </div>
          <div class = "panel-footer">
            <%= link_to 'View Report', report_path(report) %>
            <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          </div>
        <% end %>
    <br>
