<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @report.details %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @report.phone_no %>
</p>

<p>
  <strong>Message:</strong>
  <%= @report.message %>
</p>

<p>
  <strong>Screenshot:</strong>
  <% if @report.image.exists? %>
    <%= image_tag @report.image.url(:medium) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
