<!DOCTYPE html>
<html>
<head>
  <title>Endugu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class = "navbar navbar-default">
    <div class = "container-fluid">
      <div class = "navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class = "navbar-brand" href = "/">E-NDUGU</a>
      </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class = "nav navbar-nav navbar-left">
          <li><%= link_to "All Reports", reports_path %></li>
            <div class="btn-group">
              <button id = "category" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categories <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <% Category.all.each do |category| %>
                  <li><%= link_to category.description, reports_path(category: category.description) %></li>
                <% end %>
              </ul>
            </div>
            <li><%= link_to "Create Report", new_report_path %></li>
        </ul>
      </div>
    </div>
  </nav>

    <%= yield %>

</body>
</html>
